div.enclosify {
    left: 50%;
    position: fixed;
    top: 50%;
    font-family: "Arial", Arial, sans-serif;
    color: black;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}

@media only screen
    and (min-width: 1024px)
    and (min-height: 768px) {
        div.enclosify {
            width: 20%;
        }
}

input, button.clip-btn {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
}

input#copy {
    text-align: center;
    background-color: #cdd2d8;
}

input[type=submit]:hover, button.clip-btn:hover {
    background-color: #696e70;
}
