div.enclosify {
    left: 50%;
    position: fixed;
    top: 50%;
    font-family: "Arial", Arial, sans-serif;
    color: black;
    transform: translate(-50%, -50%);
    text-align: center;
}

input#copy {
    text-align: center;
}
